body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.form-body {
  background-color: #dcdcdc;
  border: 2px solid grey;
  padding: 50px;

  
}

h2 {
  font-weight: inherit;
  margin: 0;
}

hr.solid {
  border-top: 2px solid darkslateblue;
  margin-top: 10px;
}

#container {
  display: grid;
  row-gap: 70px;
  column-gap: 145px;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0;
}

p {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

label {
  font-size: 18px;
  margin-top: 10px;
}

.name-group,
.email-group,
.mobile-group {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

p[class^="error-"] {
  width: 250px;
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.custom-input {
  width: 250px !important;
  margin: 0 !important;
}
.email-group {
  padding-top: 20px;
}

.mobile-group {
  padding-top: 20px;
}


input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid grey;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 107px;
  height: 35px;
  font-weight: bold;
}

#btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.btnRemove {
  padding: 5px 23px;
  margin-top: -5px;
  position: relative;
  float: right;
  font-weight: bold;
}
